--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn
pydantic
neo4j
spacy
rank-bm25
sentence-transformers
transformers
torch==2.2.2+cpu
langchain
langchain-community
faiss-cpu
python-multipart